<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>User</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  </head>
<body>
  <header>
    <div class="container">
     <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a routerLink="/register">SignUp</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/get-city">City</a></li>
        <li><a routerLink="/get-user">User</a></li>
    
      </ul>
    </nav>
    </div>

</header>
<router-outlet></router-outlet>
  </body>
</html>
  <!-- <nav>
    <h1>Home</h1>
    <ul>
      <li><a routerLink="/get-user">User</a></li>
      <li><a routerLink="/get-city">City</a></li>
    </ul>
    <a  routerLink="/get-user" class="button">User</a>
    <a  routerLink="/get-city" class="button">City</a>
  </nav> -->
  <!-- <app-header></app-header> -->
 



















<!-- <ul class="user"> -->
  <!-- <li><a [routerLink]="['']">Home</a></li>
  <li><a [routerLink]="['about']">About</a></li>
  <li><a [routerLink]="['contact-us']">Contact Us</a></li> -->

  <!-- ----------This also worked-------------------------- -->

  <!-- <li><a routerLink="/"></a></li> -->
 <!-- <li><a routerLink="/add-user">Add </a></li>
 <li><a routerLink="/get-user">User List</a></li>
  <li><a routerLink="/get-city">City List</a></li>
</ul> -->

<!-- <div class="container">
<h3 class="d-flex justify-content-center">User Registeration Form</h3>
<nav class="navbar navbar-expand-sm bg-light navbark-dark">
 <ul class="navbar-nav">
    <li class="nav-item">
      <button class="m-1 btn btn-light btn-outline-primary" Button
      label="CityScreen" (click)="CityScreen=true;UserScreen=false;">City</button>
    </li>
    <li class="nav-item">
      <button class="m-1 btn btn-light btn-outline-primary" Button
      label="UserScreen" (click)="CityScreen=false;UserScreen=true;">User</button>
    </li>
  </ul>
    
</nav>
<app-city *ngIf="CityScreen"></app-city>
<app-user *ngIf="UserScreen"></app-user>

</div> -->




